.main_container{
    height: 400px;
    background-color:black;
width: 50%;
display: inline-block;
}

.heading_box{
    margin-top: 20px;
   margin: 10px;
  height: 45px;
   display: flex;
    justify-content:center;
color: black;
background-color: white;
border-radius: 10px 10px;
}

